<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link rel="stylesheet" th:href="@{/style/style.css}" />
</head>
<body>
    <section class="login">
        <h1>Inicio Sesion</h1>
        <form method="post" th:action="@{/login}" th:object="${usuario}">
            <label>Nombre de Usuario:</label>
            <input type="text" name="nombre" th:field="*{nombre}" required />
            <label>Contraseña:</label>
            <input type="password" name="password" th:field="*{contrasenia}" required />
            <button class="button" type="submit">Iniciar sesión</button>
        </form>
    </section>
</body>
</html>